/*	Proyecto Revisiones de Seguridad*/
/*	UNAM-CERT*/

/*	mvasquez && varteaga*/

.categoria
{

  color: blue;
  font-size:15px;
}



.apartado
{
  position: relative; 
  color: red;
  font-size:14px;
}